.axis-label {
  font-weight: bold;
  letter-spacing: 0.75px;
}

.legend { 
  margin-top: 50px;
}

rect {
  stroke: #969696;
  stroke-width: 0.5px;
}

rect:hover {
  stroke: #000000;
  stroke-width: 1px;
}

rect.legend:hover {
  stroke: #969696;
  stroke-width: 0.5px;
}
